<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!-- BEGIN html -->
<html xmlns="http://www.w3.org/1999/xhtml">
	<!-- BEGIN head -->
	<head>
		<title>Reganto | Homepage</title>
		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon" />


		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">


		<!-- Stylesheets -->
		<link type="text/css" rel="stylesheet" href="assets/css/reset.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/main-stylesheet.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/shortcode.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/fonts.css" />
		<link type="text/css" rel="stylesheet" href="assets/css/colors.css" />

		<!--[if lte IE 8]>
		<link type="text/css" rel="stylesheet" href="css/ie-transparecy.css" />
		<![endif]-->
		<link type="text/css" id="style-responsive" rel="stylesheet" media="screen" href="assets/css/responsive/desktop.css" />
		<!-- Scripts -->
		<script type="text/javascript" src="assets/jscript/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="assets/jscript/orange-themes-responsive.js"></script>
		<!--<script type="text/javascript" src="assets/jscript/cuffon.js"></script>-->
		<!--<script type="text/javascript" src="assets/jscript/Montserrat_400-Montserrat_700.font.js"></script>-->
		<script type="text/javascript" src="assets/jscript/scripts.js"></script>
		<script type="text/javascript" src="assets/jscript/lightbox.js"></script>
		<!-- For Demo Only -->
		<!--<script type="text/javascript" src="assets/jscript/jquery-ui.min.js"></script>-->
		<!--<script type="text/javascript" src="assets/jscript/iris.min.js"></script>-->
		<!--<script type="text/javascript" src="assets/jscript/color-changer.js"></script>-->
		<!--<link type="text/css" rel="stylesheet" href="assets/css/color-select.css" />-->
	<!-- END head -->
	</head>
	<!-- BEGIN body -->
	<body>

        <div class="boxed enableboxed">

    {{#block "header"}}
      {{>header}}
    {{/block}}

    
     {{#block "main"}}



    {{/block}} 
    
    {{#block "footer"}}
        {{>footer}}
    {{/block}}
    
        
        </div>    
     {{#block "scripts"}}

    <!--<script src="assets/js/app.js"></script>-->
    {{/block}}


</body>

</html>