<!-- BEGIN .footer -->
			<div class="footer">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					
					<div class="footer-content">
						<div class="footer-block">
							<div class="relative-block">
								<div class="footer-logo">
									<a href="index.html"><img src="assets/images/logo-footer.png" title="" alt="" /></a>
								</div>
								<div class="footer-set">
									<p>Lorem ipsum dolor amet, duo omnis mediocrem disputationi ne, at insolens legendos volutpat. Sea novum mollis eligendi, mel tota dolorem.</p>
								</div>
								<div class="footer-bottom">
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62209;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62212;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62215;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62218;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62221;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62224;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62227;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62230;</a>
									<a href="index.html#" target="_blank" class="soc-button icon-text">&#62233;</a>
								</div>
							</div>
						</div>
						<div class="footer-block">
							<h2 class="footer-title font-replace">Categories</h2>
							<ul class="category-listing">
								<li><a href="category.html"><span class="category-square" style="background:#2d7e5c;">&nbsp;</span>World News</a></li>
								<li><a href="category.html"><span class="category-square" style="background:#c14d44;">&nbsp;</span>Technology</a></li>
								<li><a href="category.html"><span class="category-square" style="background:#609aaa;">&nbsp;</span>Movies</a></li>
								<li><a href="category.html"><span class="category-square" style="background:#c69069;">&nbsp;</span>Games</a></li>
								<li><a href="category.html"><span class="category-square" style="background:#80476b;">&nbsp;</span>Culture</a></li>
								<li><a href="category.html"><span class="category-square" style="background:#3d88c7;">&nbsp;</span>Economy</a></li>
							</ul>
						</div>
						<div class="footer-block">
							<h2 class="footer-title font-replace">Sitemap</h2>
							<ul>
								<li><a href="index.html">Homepage</a></li>
								<li><a href="blog.html">Blog View</a></li>
								<li><a href="photo-gallery.html">Photo Gallery</a></li>
								<li><a href="shortcodes.html">Shortcodes</a></li>
								<li><a href="archive.html">Posts Archive</a></li>
								<li><a href="category.html">Contact Us</a></li>
							</ul>
						</div>
						<div class="footer-block">
							<div class="relative-block">
								<h2 class="footer-title font-replace">Contact Us</h2>
								<div class="footer-contact-form">
									<p>Quo dicta nostrud id, labore interesset eos. Elit putant scaevola his. Erant iusto usu te. Appellantur. Ornatus deleniti ad sed maio.</p>
								</div>
								<div class="footer-bottom">
									<span class="contact-msg"><span class="icon-text">&#128222;</span>(012) 3456 789 01</span>
									<a href="index.html#" class="contact-msg"><span class="icon-text">&#9993;</span>mail-me-not@please.com</a>
								</div>
							</div>
						</div>
					</div>
					
					<!--<div class="footer-copy">
						<p class="left">&copy; REGANTO 2013. <a href="http://themeforest.net" target="_blank">Buy This Theme on Themeforest</a></p>
						<p class="right">Designed &amp; Developed By <a href="http://orange-themes.com" target="_blank"><img src="assets/images/orange-themes.png" style="display:relative;margin-top:-3px;" alt="" title="" /></a></p>
						<div class="clear-float"></div>
					</div>
					-->
				<!-- END .wrapper -->
				</div>
				
			<!-- END .footer -->
			</div>